html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #d90505;
  background-color: #574444;
  border-radius: 3px;
  color: #ea0707;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 106px;
  margin: 0 auto 20px;
  /* background-color: #432d2d; */
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  /* line-height: 200px; */
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* make the title on the nave houston tabernacle with that background */
.wood-text {
  background: url('https://i.imgur.com/OUyfQnt.jpg');
  background-size: cover;
  position: relative;
  font-size: extra-large * 1.5;
  text-transform: uppercase;
  font-family: 'Rancho', cursive;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  content: random-text;
  position: absolute;
  -webkit-text-stroke-width: stroke-width;
  -webkit-text-stroke-color: rgba(black, 0.6);
  left: 100px;
  top: 10px
}

/* make the nave text the same as houston tabernacle */
.wood-texte {
  background-color: rgb(175, 131, 18);
  background: url('https://i.imgur.com/OUyfQnt.jpg');
  background-size: cover;
  text-transform: uppercase;
  font-family: 'Rancho', cursive;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  content: random-text;
  /* position: absolute; */
  -webkit-text-stroke-width: stroke-width;
  -webkit-text-stroke-color: rgba(black, 0.6);
}

.event {
  display: inline-flex;
  flex-wrap: wrap;

}

.image {
  width: 100%;
  max-width: 100px;
  height: auto;
  background-color: #f0e7ca;
  border-radius: 50%;
}

@media only screen and (max-width:600px) {
  .wood-text {

    /* background-size: cover;
    position: relative;
    font-size: extra-large * 1.5;
    text-transform: uppercase;
    font-family: 'Rancho', cursive;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    content: random-text;
    position: absolute;
    -webkit-text-stroke-width: stroke-width;
    -webkit-text-stroke-color: rgba(black, 0.6);
    left: 100px;
    top: 10px;
     height: auto; */
    display: none;

  }


}


@media only screen and (max-width:600px) {
  textarea {
    width: 100%;
    height: auto;

  }
}

.upcoming {
  background-image: url('../../image/pexels-joyston-judah-933054.jpg');
  width: auto;
  height: 111%;
  background-repeat: no-repeat;
  background-size: cover;
}

.info2 {
  background-image: url('../../image/pexels-pixabay-458863.jpg');
  width: auto;
  height: 111%;
  background-repeat: no-repeat;
  background-size: cover;

}

.time {
  font-size: 60px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: hwb(180 80% 19% / 0.852);
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #d0d3d0,
    1px 2px 0px #928d96,
    1px 3px 0px #928d96,
    1px 4px 0px #928d96,
    1px 5px 0px #928d96,
    1px 6px 0px #928d96,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
  text-align: center;
}

.service {
  font-size: 90px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: hwb(180 80% 19% / 0.852);
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #d0d3d0,
    1px 2px 0px #928d96,
    1px 3px 0px #928d96,
    1px 4px 0px #928d96,
    1px 5px 0px #928d96,
    1px 6px 0px #928d96,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
  text-align: center;
  line-height: 290px;
}

/* media for service page */

@media screen and (max-width:600px) {

  .service {

    font-size: 50px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: hwb(180 80% 19% / 0.852);
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #d0d3d0,
      1px 2px 0px #928d96,
      1px 3px 0px #928d96,
      1px 4px 0px #928d96,
      1px 5px 0px #928d96,
      1px 6px 0px #928d96,
      1px 10px 5px rgba(16, 16, 16, 0.5),
      1px 15px 10px rgba(16, 16, 16, 0.4),
      1px 20px 30px rgba(16, 16, 16, 0.3),
      1px 25px 50px rgba(16, 16, 16, 0.2);
    text-align: center;
    line-height: 250px;
  }

  .time {
    font-size: 40px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    color: hwb(180 80% 19% / 0.852);
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #d0d3d0,
      1px 2px 0px #928d96,
      1px 3px 0px #928d96,
      1px 4px 0px #928d96,
      1px 5px 0px #928d96,
      1px 6px 0px #928d96,
      1px 10px 5px rgba(16, 16, 16, 0.5),
      1px 15px 10px rgba(16, 16, 16, 0.4),
      1px 20px 30px rgba(16, 16, 16, 0.3),
      1px 25px 50px rgba(16, 16, 16, 0.2);
    text-align: center;
  }
}



.comment {
  text-align: center;
}

.timeday {
  text-align: center;
}

textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #b6b0b0;
  font-size: 16px;
  resize: none;
}

.form-submit-button {
  background: #2f302b;
  color: rgb(236, 234, 223);
  border: 1px solid #eee;
  border-radius: 20px;
  /* box-shadow: 5px 5px 5px rgb(94, 88, 88); */
  text-shadow: none;
  width: 10%;
  height: 10%;
}

.form-submit-button:hover {
  background: #016ABC;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;

}

.video {
  text-align: center;
}

@media only screen and (max-width:600px) {
  .upcoming {
    width: 100%;
    height: auto;

  }
}

@media only screen and (max-width:600px) {
  .form-submit-button {
    width: auto;
    height: auto;

  }
}

@media only screen and (max-width:600px) {
  .link {
    color: #d0d3d0;


  }
}

@media only screen and (max-width:600px) {
  .timeday {
    color: black;

  }
}

.homepage {
  background-image: url('../../image/4945da5a-a414-4ddd-8f6c-7947faee19d4.jpg');
  width: auto;
  height: 111%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width:600px) {
  .homepage {
    width: auto;
    height: auto;

  }
}

.info2 {
  text-align: center;
}

.info1 {
  font-size: 60px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: hwb(180 80% 19% / 0.852);
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #d0d3d0,
    1px 2px 0px #928d96,
    1px 3px 0px #928d96,
    1px 4px 0px #928d96,
    1px 5px 0px #928d96,
    1px 6px 0px #928d96,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
  text-align: center;
  line-height: 300px;

}

.ptag {
  width: 500px;
  padding: -10px;
  background: papayawhip;
  margin-left: auto;
  margin-right: auto;
  /* width: 8em */
}

.info5 {

  font-size: 30px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  color: hwb(180 80% 19% / 0.852);
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #d0d3d0,
    1px 2px 0px #928d96,
    1px 3px 0px #928d96,
    1px 4px 0px #928d96,
    1px 5px 0px #928d96,
    1px 6px 0px #928d96,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
  /* text-align: center; */
  /* line-height: 300px; */
}

/* css for about page */

.aboutoffice {
  background-image: url('../../image/pexels-sagui-andrea-618833.jpg');
  width: auto;
  height: 111%;
  background-repeat: no-repeat;
  background-size: cover;
}

.office {
  text-align: center;
  color: rgba(255, 255, 255, 0.753);
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  ;
}


.twelve h2 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}

.twelve h2:before {
  /* background-color: #c50000; */
  content: '';
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}

/* .twelve h2:after {
    background-color: #c50000;
    content: '';
    display: block;
  position:absolute; right:0; bottom:0;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
} */

.eleven h2 {
  font-size: 30px;
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 45px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(213, 211, 231);
}


@media only screen and (max-width:600px) {
  .info1 {
    font-size: 30px;
    font-weight: 60;
    font-family: 'Roboto', sans-serif;
    color: hwb(180 80% 19% / 0.852);
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #d0d3d0,
      1px 2px 0px #928d96,
      1px 3px 0px #928d96,
      1px 4px 0px #928d96,
      1px 5px 0px #928d96,
      1px 6px 0px #928d96,
      1px 10px 5px rgba(16, 16, 16, 0.5),
      1px 15px 10px rgba(16, 16, 16, 0.4),
      1px 20px 30px rgba(16, 16, 16, 0.3),
      1px 25px 50px rgba(16, 16, 16, 0.2);
    text-align: center;
    /* line-height: 300px; */

  }

  .aboutoffice {
    width: 100%;
    height: auto;
  }

  .twelve h2 {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    padding-bottom: 20px;

  }

  .twelve h2:before {
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
  }

  .nav {
    top: 0;
    position: fixed;

  }
}